@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'IBM_Plex_Sans_KR';
    src: url('./fonts/subset-IBMPlexSansKR-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Pretendard';
    src: url('./fonts/subset-PretendardVariable-Regular.woff2') format('woff2');
  }
}